
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/rGraphicsSettings.xml
.idea/rSettings.xml
.idea/Scripts-PE.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/workspace-DESKTOP-NPGFJ9S.xml
.idea/rpackages.xml
.idea/rAvailablePackageCache.xml
P6_QuantiTest.R
